body{
  font-family: 'Mulish', sans-serif;
  display: flex;
  justify-content: center;
}
#wrapper{
  display: flex;
    align-items: center;
    flex:0 1 700px  ;
    flex-direction: column;
    justify-content: center;
}

#todo-list{
  background-color:whitesmoke;
  box-shadow: 1px 1px 0px gray;
  padding: 10px;
}
li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #2219191c;
}
.task-done {
  text-decoration: line-through;
  padding-left: 15px;
}
.delete-cross {
  padding: 5px;
}
#input{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

input{
  font-family: 'Mulish', sans-serif;
}